html {
    background: url(../img/graphpaper.png);
    height: 100%;
    overflow: hidden;
}

#main.modal {
    -webkit-filter: blur(4px);
}


.col-left,
.col-middle,
.col-right {
    float: left;
    margin-left: 10px;
}

.col-left {
    width: 305px;
}

.col-middle {
    width: calc(~"100% - 180px - 315px");
    width: -webkit-calc(~"100% - 180px - 315px");
    width: -moz-calc(~"100% - 180px - 315px");
}

.col-right {
    width: 150px;
}


.left-column,
.right-column {
    height: calc( ~"100% - 66px" );
    -webkit-height: calc( ~"100% - 66px" );
    -moz-height: calc( ~"100% - 66px" );
}


.left-column {
    position: absolute;
    width: 305px;
    z-index: 10;
    // top: 56px;
    left: 10px;
    // bottom: 10px;
}

.edit-box {
    width: calc(~"100% - 170px");
    -webkit-width: calc(~"100% - 170px");
    -moz-width: calc(~"100% - 170px");

    height: calc(~"100% - 54px");
    -webkit-height: calc(~"100% - 54px");
    -moz-height: calc(~"100% - 54px");

    float: left;
    position: relative;
    min-width: 450px;
    .clearfix;
}

.right-column {
    left: 327px;
    min-width: 630px;
    position: absolute;
    z-index: 1;
    width: calc(~"100% - 327px");
    width: -webkit-calc(~"100% - 327px");
    width: -moz-calc(~"100% - 327px");
}

.ZEEGA-player {
    z-index: 100;
}