.frames {
    
    display: none;
    font-size: 13px;
    position: relative;

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: white;
    }

    .frame-list {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        overflow: auto;
        .clearfix;
    }

    .ZEEGA-frame {
        display: inline-block;
        position: relative;
        padding: 5px;

        &:last-child {
            margin-right: 111px;
        }

        .frame-thumb {
            background: black;
            height: 60px;
            width: 80px;
            display: inline-block;
        }

        .options {
            position: absolute;
            right: 5px;
        }
    }

    .add-frame {
        right: 0;
        top:;
        position: absolute;
        background: rgba(0,0,0,0.75);
        top: 20px;
        .clearfix;

        a {
            padding: 5px 29px 5px 5px;
            float:left;
        }
    }
}