.intro {
    pointer-events: none;
    position: fixed;
    z-index: 9999;
}

.intro-00 {
    width: 347px;
    top: 189px;
    left: 212px;
}

.intro-01 {
    width: 188px;
    top: 254px;
    left: 400px;
}

.intro-02 {
    width: 500px;
    right: 10px;
    top: 145px;
}

.intro-03 {
    width: 300px;
    right: 100px;
    top: 41px;
}