


.item-dragging {
    height: 75px;
    width: 75px;
    opacity: 0.85;
    border: solid 1px white;
}

.ui-draggable-dragging {
   cursor: -moz-grabbing !important;
   cursor: -webkit-grabbing !important;
}

.media-drawer {

    .item {

        width: -webkit-calc( ~"100% / 4" );
        width: -moz-calc( ~"100% / 4" );
        width: calc( ~"100% / 4" );

        &>a {
            cursor: move;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
        float: left;
        .item-thumb {
            height: 75px;
            width: 75px;
            background-color:black;

            .thumb-title {
                position: absolute;
                font-size: 11px;
                word-wrap: break-word;
                font-weight: bold;
                text-shadow: 1px 1px 0px black;
                height: 36px;
                width: 67px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                color: orangered;
                line-height: 12px;
                padding-top: 15px;
            }
        }

        .item-title {
            display: none;
        }
    }
}
