.item-dragging {
    height: 75px;
    width: 75px;
    opacity: 0.75;
}

.media-drawer {

    .ZEEGA-items {
        overflow: auto;
    }

    .item {

        &>a {
            cursor: move;
        }
        float: left;
        .item-thumb {
            height: 49px;
            width: 49px;
        }

        .item-title {
            display: none;
        }
    }

    .grid {
        box-shadow: inset 0 0 24px orangered;
    }
    .list {
        box-shadow: none;
    }

    &.list {
        .grid {
            box-shadow: none;
        }
        .list {
            box-shadow: inset 0 0 24px orangered;
        }
        .item {
            float: none;
            border-bottom: 1px solid rgba(0,0,0,0.25);
            .clearfix;

            .item-thumb {
                float: left;
                height: 24px;
                width: 24px;
                margin-right: 10px;
            }

            .item-title {
                display: inline-block;
                float: left;
                color: #ddd;
                font-size: 12px;

                .item-title-text {
                    position: relative;
                    top: 5px;
                }
            }
        }
    }

}
