.media-drawer.list {
    .media-collection {
        background: #111;
    }
}

.media-collection {
    position: relative;
    background: url(../img/transparency-grid-dark.png);
    height: 100%;

    .search-box {
        border-radius: 2px;
        border: none;
        padding: 4px;
        width: 208px;
        margin: 0;
    }

    .submit {
        float: right;
        cursor: pointer;
    }

    .search-bar{
        margin-top:5px;
    }
    
    .media-collection-header {
        position: relative;
        z-index:1;
        width: 285px;
        background: orangered;
        padding: 5px 10px;
        color: white;
        font-size: 18px;
        .clearfix;



        .media-collection-extras{
            float:right;
        }
        .media-collection-title{
            float:left;

        }
        .get-bookmarklet {
            font-size: 12px;
            color: white;
            
        }
        .upload-images{
            font-size: 12px;
            color: white;
            padding-right:10px;
        }
        .media-collection-search {
            clear:both;
        }


        .media-upload {
            clear: both;
            padding: 10px 0;
            font-size: 14px;

            a:link, a:visited, a:hover, a:active {
                color: white;
            }

            a {
                opacity: 1;
            }
            a.active {
                opacity: 0.75;
            }

            .upload-chooser {
                margin-bottom: 10px;
            }

            .upload-file {

            }

            .paste-url {
                display: none;
            }

            .url-box {
                width: 100%;
                border: 0;
            }
        }

    }


    .media-collection-wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .media-collection-items {
        .clearfix;
        position: relative;
        
        img {
            border:  1px solid rgba(255, 255, 255, 0.15);
        }

        .media-more {

            height: 50px;
            width: 50px;
            float: left;
            background: red;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            .item-label {
                color: white;
                text-align: center;
                margin-top: 5px;
            }
            i {
                margin: 0 auto;
                display: block;
            }
        }
    }
}