.media-drawer.list {
    .media-collection {
        background: #111;
    }
}

.media-collection {

    background: url(../img/transparency-grid.png);
    background-color: #111;

    .media-collection-title {
        background: orangered;
        padding: 5px 10px;
        color: white;
        font-size: 18px;

        .get-bookmarklet {
            font-size: 12px;
            float: right;
            color: white;
            display: none;
        }

    }
    .media-collection-items {
        .clearfix;
        position: relative;
        
        .media-more {

            height: 50px;
            width: 50px;
            float: left;
            background: red;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            .item-label {
                color: white;
                text-align: center;
                margin-top: 5px;
            }
            i {
                margin: 0 auto;
                display: block;
            }
        }
    }
}