





.media-upload {

    .upload-file{
        cursor: pointer;
        border: 1px dashed white;
        padding: 8px;
        span {
            position: absolute;
            font-size: 12px;
            cursor: pointer;
        }
        input {
            opacity: 0;
            margin-bottom: -2px;
        }

    }

}