.media-upload-tab {
    color: grey;
    font-size: 15px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 0;
}


.media-upload {
    
    .upload-progress{
        position: absolute;
        width: 0px;
        height: 32px;
        background: rgba(256, 256, 256, 0.5);
        margin: -8px;
    }

    .upload-file{
        cursor: pointer;
        border: 1px dashed white;
        padding: 8px;
        span {
            position: absolute;
            font-size: 12px;
            cursor: pointer;
        }
        input {
            opacity: 0;
            margin-bottom: -2px;
        }

    }

}