.project-head {
    padding: 10px 0;
    font-size: 1.75em;
    color: #555;
    z-index: 100;
    position: relative;
    .clearfix;

    .nav {
        float: left;
        .clearfix();
    }

    .new-zeega {
        margin-right: 2px;
        padding: 5px 10px 0px;
        vertical-align: middle;
        margin-top: 6px;
        background-color: orangered;

        &:hover {
            background-color: orange;
        }
    }

    .project-info {
        float: left;

        width: -webkit-calc( ~"100% - 175px" );
        width: -moz-calc( ~"100% - 175px" );
        width: calc( ~"100% - 175px" );

        border-bottom: 2px dotted transparent;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover, &:focus {
            border-bottom: 2px dotted #999;
            outline: none;
            background: rgba(255,255,0,0.25);
        }
    }

    .zeega-faq,
    .project-preview {
        float:right;
    }

    .zeega-faq {
        margin-right: 10px;
    }

    .project-share {
        position: relative;
    }

}

.share-grave {
    background: url(../img/tiny-stripes-dark.png);
    background-color: #ccc;
    clear: both;
    display: none;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.25);
    padding: 10px;
    .clearfix;

    .text-box {
        font-size: 80%;
    }
    .close-wrapper {
        text-align: right;

        a {
            color: #555;
            height: 20px;
            display: inline-block;
            top: -11px;
            position: relative;
        }
    }

    .project-share {
        float: right;
    }
}