.project-meta {

    position: relative;
    height: 125px;
    color: white;

    .ZEEGA-project-cover {
        background: white;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .project-meta-upper {
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;

        .ZEEGA-project-title {
            padding: 10px;
            width: 200px;
        }
    }

    .project-meta-lower {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        width: 100%;

        .ZEEGA-project-share {
            padding: 10px;
        }
    }

    // .ZEEGA-project-title {
    //     float: right;
    //     color: #DDD;
    //     padding: 10px;
    //     font-size: 24px;
    //     width: 180px;
    //     .transition( background, 1s );

    //     &:hover {
    //         background: rgba(255,0,0,0.1);
    //         .transition( background, 0.25s );
    //     }
    // }
    
}