.soundtrack {
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    background-color: rgba(0,0,0,0.1);
    border: 1px solid orangered;
    background: url(../img/tiny-stripes-dark.png);
    font-size: 12px;
    text-align: center;
    color: orangered;
    position: relative;
    text-shadow: 2px 2px white;
    font-weight: bold;

    .elapsed {
        background: orangered;
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        opacity: 0.75;
    }
    .soundtrack-waveform {
        background: transparent;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .soundtrack-info {
        font-size: 14px;
        position: absolute;
        pointer-events: none;
        background: rgba(255,255,255,0.5);
        padding: 5px;
        left: 0;
        right: 0;

        .title {
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            position: absolute;
            left: 0;
            text-overflow: ellipsis;
        }
    }

    .soundtrack-controls {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;

        a {
            position: relative;
            display: inline-block;
            height: 100%;
            padding: 0 5px;
        }

        i {
            vertical-align: middle;
        }
    }

    .instructions-1,
    .instructions-2 {
        padding: 10px;
    }

    .instructions-1 {
        display: block;
    }
    .instructions-2 {
        display: none;
    }

    &.can-drop {
        border: 1px solid limegreen;

        .instructions-1 {
            display: none;
        }
        .instructions-2 {
            display: block;
        }
    }
}