.workspace {
    position: absolute;
    min-height: 320px;
    width: 100%;

    height: -webkit-calc( ~"100% - 88px" );
    height: -moz-calc( ~"100% - 88px" );
    height: calc( ~"100% - 88px" );

    overflow: hidden;
    .clearfix;

    .ZEEGA-workspace {
        overflow: hidden;
        position: absolute;
        background: black;
        width: 400px;
        height: 300px;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 0.7692307692em;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    }
}