[submodule "app/zeega-parser"]
	path = app/zeega-parser
	url = https://github.com/Zeega/Zeega-Parser.git
[submodule "vendor/popcorn"]
	path = vendor/popcorn
	url = https://github.com/Zeega/popcorn-js.git
[submodule "vendor/zeegaplayer"]
	path = vendor/zeegaplayer
	url = https://github.com/Zeega/Zeega-Player.git
[submodule "vendor/mousetrap"]
	path = vendor/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
[submodule "vendor/simple-color-picker"]
	path = vendor/simple-color-picker
	url = https://github.com/jbergen/jquery-simple-color.git
