.control-opacity {
  position: absolute;
  bottom: 2px;
  width: 26px;
}
.control-opacity .hover-icon .id-icon {
  margin: 0 auto;
  display: block;
}
.control-opacity .hover-icon .hidden-controls {
  display: none;
}
.control-opacity .hover-icon:hover .hidden-controls {
  display: block;
}
