<div class="modal-wrapper">

    <div class="modal-content">

        <div class="step-1">
            <div class="zeega-logo-head">
                <img src="assets/img/zeega-logo-500.png" width="100%"/>
            </div>
            <h1>Heya. Welcome!</h1>

            <p>Zeega is a community creating everything from stories to memes to interactive music experiences.</p>

            <a href="#" class="next btnz btnz-submit">Ready to go?</a>
        </div>

        <div class="step-2" style="display:none">
            <p>To get started, we’ve got a few fun prompts for you.</p>


            <div class="intro-graphic">
                <img src="assets/img/intro-graphic.png" width="100%"/>
            </div>
            <!--
            <div class="pointer point-left" style="">Drag stuff from here…</div>
            <div class="pointer point-right" style="">…to here</div>
    -->
            <a href="#" class="finish btnz btnz-submit">Make the web you want <i class="icon-play icon-white"></i></a>
        </div>


    </div>
</div>