<div class="modal-wrapper">

    <div class="modal-content">

        <div class="step-1">

            <h1>Heya! Welcome to <img class="zeega-intro-logo" src="assets/img/zeega-logo-500.png" width="190px"/></h1>

            <p>
                Zeega is a community creating everything from stories to memes to interactive music experiences.
            </p>
            <p>
                We’ve got a few fun prompts to get you started.
            </p>

            <div class="intro-graphic">
                <img src="assets/img/intro-graphic.png" width="100%"/>
            </div>
            <a href="#" class="finish btnz btnz-submit">Start Making</a>
        </div>


    </div>
</div>