<div class="ZEEGA-layer-drawer ZEEGA-hmenu clear">
    <ul>
        <li class="draggable-layer-type">
            <a href="#" data-layer-type="TextV2"
                title="add text"
                data-gravity="n"
            >
                <div class="item-label">text</div>
                <i class="icon-font"></i>
            </a>
        </li>
        <li class="draggable-layer-type">
            <a href="#" data-layer-type="Rectangle"
                title="add color box"
                data-gravity="n"
            >
                <div class="item-label">color</div>
                <i class="icon-th-large"></i>
            </a>
        </li>
        <li class="draggable-layer-type">
            <a href="#" data-layer-type="Link"
                title="add interactivity"
                data-gravity="n"
            >
                <div class="item-label">link</div>
                <i class="icon-arrow-up"></i>
            </a>
        </li>
    </ul>
</div>