<div class='left-column'>
    <div class="static-upper">
        <div class="nav"></div>
    </div>
    <div class="media-drawer"></div>
</div>
<div class='right-column'>
    <div class="project-head">
        <div class="project-info" contenteditable>My Awesome Zeega!!!</div>
        <div class="project-share">
            <a href="#"><i class="zitem-twitter zitem-30 color"></i></a>
            <a href="#"><i class="zitem-facebook zitem-30 color"></i></a>
            <a href="#"><i class="zitem-tumblr zitem-30 color"></i></a>
        </div>
    </div>

    <div class="edit-box">
        <div class="project-navs">
            <div class="frames"></div>
        </div>
        <div class="workspace"></div>
    </div>
    <div class="layers"></div>
</div>