<div class="upload-chooser">
    <a href="#" class="upload-image-action active">upload image file</a> | <a href="#" class="paste-url-action">paste an image url</a>
</div>

<div class="upload-toggle">
    <div class="upload-file">
        <input id="imagefile"  name="imagefile"  type="file" href="#"></input>
    </div>
    <div class="paste-url">
        <input class="url-box" type="text" placeholder="enter url here" value="" />
    </div>
</div>



<!-- 
<div class = "image-uploads" >
    <span class="add-photo" href="#">
        <input id="imagefile"  name="imagefile"  type="file" href="#"></input>
    </span>
</div>
<ul class='pull-left search-bar'>
    <li>
        <input class="url-box" type="text" placeholder="enter url here" value="" />
    </li>
</ul>
 -->