<div class="media-drawer-controls ZEEGA-hmenu light img-tabs">
        <ul class='pull-left'>
        
        <li>
            <a href="#" data-api = "Zeega" class="media-toggle"><i class="socialz-zeega"></i></a>
        </li>
        <!--
        <li>
            <a href="#" data-api = "Tumblr" class="media-toggle">T</i></a>
        </li>
        -->
        <li>
            <a href="#" data-api = "Soundcloud" class="media-toggle"><i class="socialz-soundcloud"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Giphy" class="media-toggle"><i class="socialz-giphy"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Flickr" class="media-toggle"><i class="socialz-flickr"></i></a>
        </li>
        <li>
            <a href="#" data-api = "Instagram" class="media-toggle"><i class="socialz-instagram"></i></a>
        </li>
        <li>
            <a href="#" data-api = "Tumblr" class="media-toggle"><i class="socialz-tumblr"></i></a>
        </li>
        <!--
        <li>
            <a href="#" data-api = "Youtube" class="media-toggle"><i class="socialz-youtube"></i></a>
        </li>
        -->
        <li >
            <a href="#" data-api = "MyZeega" class="media-toggle"><i class="socialz-user"></i></a>
        </li>
    </ul>
    
    
</div>
<ul class="ZEEGA-items"></ul>