<div class="media-collection-header">

    <div class="media-collection-title"><%= title %></div>
    <div class="media-collection-extras">
        
    </div>
    <div class="media-collection-search">
        <ul class='pull-left search-bar'>
            <li>
                <input class="search-box" type="text" placeholder="<%= placeholder %>" value="<%= searchQuery %>" />
            </li>
        </ul>
        <div class="pull-right collection-options">
        </div>
    </div>
</div>
<ul class="media-collection-items"></ul>