<div class="media-drawer-controls ZEEGA-hmenu light img-tabs">
    <ul class='pull-left'>
        
        <li>
            <a href="#" data-api = "Zeega" class="active media-toggle"
                title="our faves from across the web"
                data-gravity="sw"
            ><i class="socialz-zeega socialz-white"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Soundcloud" class="media-toggle"
                title="sounds from SoundCloud"
                data-gravity="sw"
            ><i class="socialz-soundcloud"></i></a>
        </li>

        <li>
            <a href="#" data-api="Tumblr" class="media-toggle"
                title="GIFs and images from Tumblr"
                data-gravity="sw"
            ><i class="socialz-tumblr"></i></a>
        </li>
        
        <li>
            <a href="#" data-api = "Instagram" class="media-toggle"
                title="images from Instagram"
                data-gravity="sw"
            ><i class="socialz-instagram"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Flickr" class="media-toggle"
                title="images from Flickr"
                data-gravity="sw"
            ><i class="socialz-flickr"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Giphy" class="media-toggle"
                title="GIFs from Giphy"
                data-gravity="sw"
            ><i class="socialz-giphy"></i></a>
        </li>
       
        <!--
        <li>
            <a href="#" data-api = "Youtube" class="media-toggle"><i class="socialz-youtube"></i></a>
        </li>
       
        <li >
            <a href="#" data-api = "MyZeega" class="media-toggle"><i class="socialz-user"></i></a>
        </li>
         -->

    </ul>
    <ul class="pull-right">
        <li >
            <a id="media-upload-tab" href="#" data-api = "MyZeega" class="media-toggle">UPLOAD</a>
        </li>
    </ul>
    
    
</div>
<div class="ZEEGA-items"></div>