<ul class='pull-left'>
    <li class='logo'>
        <a href="#"><img src="assets/img/zeega-logo-header.png"/></a>
    </li>
</ul>
<ul class='pull-right'>
    <li>
        <a href="http://www.zeega.org/user/" target="blank"><i class="icon-user icon-white"></i></a>
    </li>
    <li>
        <a href="#"><i class="icon-folder-open icon-white"></i></a>
        <ul class="submenu">
            <li>
                <a href="#"><i class="icon-file"></i> New Zeega</a>
            </li>
            <li class="divider"></li>

            <li>
                <a href="#">project 1</a>
            </li>
            <li>
                <a href="#">project 2</a>
            </li>
            <li>
                <a href="#">project 3</a>
            </li>
            <li>
                <a href="#">project 4</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="http://www.zeega.org/faq/" target="blank"><i class="icon-question-sign icon-white"></i></a>
    </li>
</ul>