<a href="http://www.zeega.com" class="ZEEGA-tab">
    <span class="ZTab-logo"></span>
</a>

<div class="nav-wrapper">
    <div class="nav col-left navbar">
        <ul class='pull-left'>
            <li>
                <a href="http://blog.zeega.com/faq" data-bypass="true" target="blank"
                    title="FAQ"
                    data-gravity="n"
                ><i class="icon-question-sign"></i></a>
            </li>
        </ul>
        <ul class='pull-right'>
            <li>
                <a href="<%= webRoot %>profile/<%= userId %>"
                    title="my profile"
                    data-gravity="n"
                    ><span class="user-token"
                        style="
                            background-image:url(<%= userThumbnail %>);
                            background-size: cover;
                        "
                    ></span></a>
            </li>
            <li>
                <a href="<%= webRoot %>project/new"
                    class="btnz new-zeega"
                    title="make a new Zeega"
                    data-gravity="n"
                    >New Zeega</a>
            </li>
            
        </ul>
    </div>

    <ul class="nav-buttons-right">
        <li>
            <a href="#" class="editor-help btnz btnz-light"
                title="view instructions"
                data-gravity="n"
            >help</a>
        </li>
        <li>
            <a href="#" class="project-preview btnz"
                title="see what you're making"
                data-gravity="n"
            ><i class="icon-play icon-white"></i> Preview</a>
        </li>
        <li>
            <a href="#" class="project-share btnz btnz-blue btnz-fullwidth"
                title="share your Zeega with the world"
                data-gravity="ne"
            ><i class="icon-retweet icon-white"></i> Share</a>
        </li>

    </ul>

</div>

<div class="share-grave">

    <div class="close-wrapper">
        <a href="#" class="close-grave">&times;</a>
    </div>

    <div class="grave-inner">

        <div class="share-meta">
            <div class="cover-image-wrapper">
                <div class="project-cover" style="
                    background: url(<%= cover_image %>);
                    background-size: cover;
                "></div>
                <div class="caption-info">Drag cover image here</div>
            </div>
            <div class="caption-side">
                <textarea id="project-caption" placeholder="Caption your Zeega before sharing" maxlength="80"><%= title %></textarea>
                <div class="caption-info">80 character limit</div>
            </div>
        </div>


        <div class="share-tab-content">
            <div class="share-network share-window active">

                <div>
                    <a href="https://twitter.com/intent/tweet?original_referer=<%= webRoot %><%= item_id %>&text=<%= title %> made w/ @zeega&url=<%= webRoot %><%= item_id %>"
                            class="social-share share-twitter"
                            data-itemid="<%= item_id %>"
                            target="blank">
                        <i class="zitem-twitter zitem-30 color"></i>
                    </a>
                    <a href="http://www.facebook.com/sharer.php?u=<%= webRoot %><%= item_id %>"
                                    class="social-share share-facebook"
                                    data-itemid="<%= item_id %>"
                                    target="blank">
                        <i class="zitem-facebook zitem-30 color"></i>
                    </a>
                    <a id ="tumblr-share" href="http://www.tumblr.com/share/photo?<%= tumblr_share %>" 
                                    class="social-share share-tumblr"
                                    data-itemid="<%= item_id %>"
                                    target="blank">
                        <i class="zitem-tumblr zitem-30 color"></i>
                    </a>
                </div>

                <div>
                    <input class="text-box" type="text" value="<%= webRoot %><%= item_id %>" readonly></input>
                </div>

            </div>
            <div class="share-embed share-window">
                <div>
                    <p>Use this snippet of code to showcase your Zeega on your own site</p>
                </div>
                <div>
                    <input class="text-box" type="text" value='<iframe src="<%= webRoot %><%= item_id %>/embed" width="100%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'></input>
                </div>
                
            </div>
        </div>

        <div class="share-tabs">
            <ul>
                <li>
                    <a href="#" class="share-zeega active">Share your Zeega</a>
                </li>
                <li>
                    <a href="#" class="embed-zeega">Embed</a>
                </li>
            </ul>
        </div>

    </div>

</div>