<div class="project-top">
    <div class="ZEEGA-project-cover" style="
        background: url(<%= cover_image %>) no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
    "></div>
    <div class="ZEEGA-project-title" contenteditable="true"><%= title %></div>
</div>
<div class="ZEEGA-hmenu light">
    <ul class='meta-menu pull-right'>
        <li>
            <a href="#" class="options disabled" data-action="projectOptions">
                <div class="hmenu-label">options</div>
                <i class="icon-list-alt icon-white"></i>
            </a>
        </li>
        <li>
            <a href="#" class="publish disabled" data-action="projectPublish">
                <div class="hmenu-label">publish</div>
                <i class="icon-share icon-white"></i>
            </a>
        </li>
        <li>
            <a href="#" class="share disabled" data-action="projectShare">
                <div class="hmenu-label">share</div>
                <i class="icon-envelope icon-white"></i>
            </a>
        </li>
        <li>
            <a href="#" class="preview" data-action="projectPreview">
                <div class="hmenu-label">preview</div>
                <i class="icon-play icon-white"></i>
            </a>
        </li>
    </ul>
</div>