<div class="ZEEGA-project-cover" style="
    background: url(<%= cover_image %>) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
">
    <div class="project-meta-upper">
        <div class="ZEEGA-project-title" contenteditable="true"><%= title %></div>
    </div>
    <a href="#" class="preview">
        <i class="play-zcon"></i>
        <span class="preview-text">Preview</span>
    </a>
    <div class="project-meta-lower">
        <div class="ZEEGA-project-share">
            <a href="#" class="project-share-toggle">share</a>:
            <div class="hidden-drawer <%= drawerClass %>">
                <a href="https://twitter.com/intent/tweet?original_referer=http://www.zeega.com/<%= item_id %>&text=Zeega%20Project%3A%20<%= title %> &url=http://www.zeega.com/<%= item_id %>"
                    class="social-share"
                    data-itemid="<%= item_id %>"
                    target="blank">
                    <i class="zsocial-twitter">
                    </i>
                </a>
                <a href="http://www.facebook.com/sharer.php?u=http://www.zeega.com/<%= item_id %>"
                    class="social-share"
                    data-itemid="<%= item_id %>"
                    target="blank">
                    <i class="zsocial-facebook"></i>
                </a>
                <a href="http://www.tumblr.com/share"
                    class="social-share"
                    data-itemid="<%= item_id %>"
                    target="blank">
                    <i class="zsocial-tumblr"></i>
                </a>
                <a href="mailto:friend@example.com?subject=Check out this Zeega!&body=http://www.zeega.com/<%= item_id %>"
                    class="social-share"
                    data-itemid="<%= item_id %>">
                    <i class="zsocial-email"></i>
                </a>
            </div>
        </div>
    </div>
</div>