<div class="nav col-left navbar ZEEGA-hmenu clear">
    <ul class='pull-left'>
        <li class='logo'>
            <a href="<%= webRoot %>"><img src="assets/img/zeega-logo-header.png"/></a>
        </li>
    </ul>
    <ul class='pull-right'>
        <li>
            <a href="<%= webRoot %>profile/<%= userId %>"
                title="user profile"
                data-gravity="n"
                ><i class="icon-user"></i></a>
        </li>
        <li>
            <a href="#"><i class="icon-folder-open"></i></a>
            <ul class="submenu">
                <li>
                    <a href="<%= webRoot %>project/new" data-bypass="true" ><i class="icon-file"></i> New Zeega</a>
                </li>
                <li class="divider"></li>

                <% _.each( userProjects, function( project) { %>
                    <li>
                        <a href="<%= webRoot %>editor/<%= project.id %>"  data-bypass="true" ><%= project.title %></a>
                    </li>
                <% }); %>

            </ul>
        </li>

        <li>
            <a href="http://blog.zeega.com/faq" data-bypass="true" target="blank"
                title="FAQ"
                data-gravity="n"
            ><i class="icon-question-sign"></i></a>
        </li>

        
    </ul>
</div>
<div class="project-title col-middle clearfix">
    <div class="project-info" contenteditable
        title="title of your Zeega"
        data-gravity="n"
    ><%= title %></div>
    <a href="#" class="project-preview btnz"><i class="icon-play icon-white"></i> Preview</a>
</div>
<div class="project-share col-right clearfix">
    <a href="#" class="project-share btnz btnz-blue btnz-fullwidth"
        title="share your Zeega with the world"
        data-gravity="ne"
    ><i class="icon-retweet icon-white"></i> Share</a>
</div>

<div class="share-grave">

    <div class="close-wrapper">
        <a href="#" class="close-grave">&times;</a>
    </div>

    <div class="project-share">

        <input class="text-box" type="text" value='<iframe src="<%= webRoot %><%= item_id %>/embed" width="100%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'></input>
        ∞
        <input class="text-box" type="text" value="<%= webRoot %><%= item_id %>"></input>
        <a href="https://twitter.com/intent/tweet?original_referer=<%= webRoot %><%= item_id %>&text=Zeega%20Project%3A%20<%= title %> &url=<%= webRoot %><%= item_id %>"
                        class="social-share"
                        data-itemid="<%= item_id %>"
                        target="blank">
            <i class="zitem-twitter zitem-30 color"></i>
        </a>
        <a href="http://www.facebook.com/sharer.php?u=<%= webRoot %><%= item_id %>"
                        class="social-share"
                        data-itemid="<%= item_id %>"
                        target="blank">
            <i class="zitem-facebook zitem-30 color"></i>
        </a>
        <a id ="tumblr-share" href="http://www.tumblr.com/share/photo?<%= tumblr_share %>" 
                        class="social-share"
                        data-itemid="<%= item_id %>"
                        target="blank">
            <i class="zitem-tumblr zitem-30 color"></i>
        </a>
    </div>
</div>