<div class="ZEEGA-project-cover" style="
    background: url(<%= cover_image %>) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
">
    <div class="project-meta-upper">
        <div class="ZEEGA-project-title" contenteditable="true"><%= title %></div>
    </div>
    <div class="project-meta-lower">
        <div class="ZEEGA-project-share">
            share: 
            <a href="#"><i class="zsocial-twitter"></i></a>
            <a href="#"><i class="zsocial-facebook"></i></a>
            <a href="#"><i class="zsocial-tumblr"></i></a>
            <a href="#"><i class="zsocial-email"></i></a>
        </div>
    </div>

</div>