<div class="elapsed tooltip"></div>
<div class="soundtrack-waveform"
    
<% if ( model ) { %>
    style=" background: url(<%= attr.thumbnail_url %>);
    background-size: 100% 100%"
<% } %>
></div>

<% if ( model === false ) { %>
    <span class="soundtrack-drop-icon"></span>
    <span class="soundtrack-sub">Soundtrack</span>
<% } else { %>
    <div class="soundtrack-controls">
        <a href="#" class="playpause"
            title="listen"
            data-gravity="n"
        ><i class="icon-play icon-white"></i></a>
        <a href="#" class="remove"
            title="remove soundtrack"
            data-gravity="n"
        ><i class="icon-remove icon-white"></i></a>
    </div>
<% } %>