<a href="#" class="playpause paused"></a>

<canvas class="progress" height="80" width="80"></canvas>
<div class="soundtrack-waveform"
    
<% if ( model ) { %>
    style=" background: url(<%= attr.thumbnail_url %>);
    background-size: 100% 100%"
<% } %>
></div>

<% if ( model === false ) { %>
    <span class="soundtrack-drop-icon"
        title="drag audio to add soundtrack"
        data-gravity="ne"
    ></span>
    <span class="soundtrack-sub">soundtrack</span>
<% } else { %>
    <div class="soundtrack-controls">

        <!--
        <a href="#" class="playpause"><i class="icon-volume-up icon-white"></i></a>
    -->
        <div class="audio-wrapper"></div>

        <% if ( remix ) { %>
            <i class="icon-lock icon-white"></i>
        <% } else { %>
            <a href="#" class="remove"
                title="remove soundtrack"
                data-gravity="n"
            ><i class="icon-remove icon-white"></i></a>
        <% } %>

    </div>
<% } %>